## 자료형(Data Types)

### 수: 정수, 실수

In [1]:
# a에 정수 3을 할당합니다.
a = 3

In [2]:
# a를 출력합니다.
a

3

In [3]:
# a의 클래스를 확인합니다. a의 클래스는 int입니다.
type(a)

int

In [4]:
# b에 실수 3.0을 할당합니다.
b = 3.0

In [5]:
# b를 출력합니다.
b

3.0

In [6]:
# b의 클래스를 확인합니다. b의 클래스는 float입니다.
type(b)

float

### 산술 연산자

In [7]:
# a와 b를 더합니다.
a + b

6.0

In [8]:
# a에서 b를 뺍니다.
a - b

0.0

In [9]:
# a와 b를 곱합니다.
a * b

9.0

In [10]:
# a를 b로 거듭제곱합니다.
a ** b

27.0

In [11]:
# a를 b로 나눕니다.
a / b

1.0

In [12]:
# a를 b로 나눈 나머지를 반환합니다.
a % b

0.0

In [13]:
# a를 b로 나눈 (소수점 이하를 절사한) 몫을 반환합니다.
a // b

1.0

### 할당 연산자

In [14]:
# a에 정수 5를 할당하고 a를 출력합니다.
a = 5
a

5

In [15]:
# a에 1을 더하고 a에 재할당한 다음 a를 출력합니다.
a += 1
a

6

In [16]:
# a에서 2를 빼고 a에 재할당한 다음 a를 출력합니다.
a -= 2
a

4

In [17]:
# b에 3을 곱하고 b에 재할당한 다음 b를 출력합니다.
b *= 3
b

9.0

In [18]:
# b를 4로 나누고 b에 재할당한 다음 b를 출력합니다.
b /= 4
b

2.25

### 비교 연산자

In [19]:
# a가 4보다 크면 True, 작거나 같으면 False를 반환합니다.
a > 4

False

In [20]:
# a가 4보다 크거나 같으면 True, 작으면 False를 반환합니다.
a >= 4

True

In [21]:
# a가 4보다 작으면 True, 크거나 같으면 False를 반환합니다.
a < 4

False

In [22]:
# a가 4보다 작거나 같으면 True, 크면 False를 반환합니다.
a <= 4

True

In [23]:
# a가 4이면 True, 4가 아니면 False를 반환합니다.
a == 4

True

In [24]:
# a가 4가 아니면 True, 4이면 False를 반환합니다.
a != 4

False

### 논리 연산자

In [25]:
# 비교 연산을 실행하여 True 또는 False를 반환합니다.
print(a > 3)
print(b > 3)

True
False

In [26]:
# [논리곱] 두 진리값이 모두 True면 True, 아니면 False를 반환합니다.
a > 3 and b > 3

False

In [27]:
# [논리합] 두 진리값 중 하나 이상 True면 True, 아니면 False를 반환합니다.
a > 3 or b > 3

True

In [28]:
# [논리부정] not 뒤에 오는 진리값을 반전합니다.
not (a > 3 and b > 3)

True

In [29]:
# [논리부정] not 뒤에 오는 진리값을 반전합니다.
not (a > 3 or b > 3)

False

### 문자열

In [30]:
# str1에 문자열을 할당합니다. 홑따옴표를 사용했습니다.
str1 = 'Life is short, '

In [31]:
# str1을 출력합니다.
str1

'Life is short, '

In [32]:
# print() 함수를 실행하면 따옴표 없이 글자만 출력합니다.
print(str1)

Life is short,

In [33]:
# str1의 클래스를 확인합니다. str1의 클래스는 str입니다.
type(str1)

str

In [34]:
# str1의 글자수를 반환합니다.
len(str1)

15

In [35]:
# str2에 문자열을 할당합니다. 겹따옴표를 사용했습니다.
str2 = "you need Python!"

In [36]:
# str2를 출력합니다.
str2

'you need Python!'

### [참고] 다양한 문자열 생성법

# 홑따옴표로 감싼 문자열 안에 홑따옴표를 추가할 수 없습니다.
'Monty Python's Flying Circus'

In [37]:
# 문자열 안에 홑따옴표를 추가하려면 문자열을 홑따옴표 대신에 겹따옴표로 감싸야 합니다.
"Monty Python's Flying Circus"

"Monty Python's Flying Circus"

In [38]:
# 홑따옴표로 감싸려면 안쪽 따옴표 앞에 역슬래쉬(\) 기호를 추가해야 합니다.
'Monty Python\'s Flying Circus'

"Monty Python's Flying Circus"

In [39]:
# 두 가지 경우를 모두 포함하는 예제입니다.
'I\'m saying "You need Python!" now.'

'I\'m saying "You need Python!" now.'

In [40]:
# 문자열을 겹따옴표로 감쌌다면 문자열 안 겹따옴표 앞에 \ 기호를 추가합니다.
"I'm saying \"You need Python!\" now."

'I\'m saying "You need Python!" now.'

In [41]:
# 여러 줄의 문자열을 생성하려면 홑따옴표나 겹따옴표를 세 번 반복합니다.
'''hello!
Good to see you.'''

'hello!\nGood to see you.'

### 문자열 연산자

In [42]:
# + 연산자는 두 문자열을 결합합니다. [주의] 수와 문자열을 섞으면 에러가 발생합니다.
str1 + str2

'Life is short, you need Python!'

In [43]:
# * 연산자는 왼쪽 문자열을 오른쪽에 지정한 횟수만큼 반복합니다.
str2 * 3

'you need Python!you need Python!you need Python!'

In [44]:
# str1에 'a'가 있으면 True, 없으면 False를 반환합니다.
'a' in str1

False

In [45]:
# str1에 'a'가 없으면 True, 있으면 False를 반환합니다.
'a' not in str1

True

### 문자열의 인덱싱

In [46]:
# sen에 문자열을 할당합니다.
sen = '아버지가 안방에 들어가신다.'

In [47]:
# sen의 0번 인덱스(첫 번째) 문자를 선택합니다.
sen[0]

'아'

In [48]:
# sen의 1번 인덱스(두 번째) 문자를 선택합니다.
sen[1]

'버'

In [49]:
# sen의 -1번 인덱스(마지막) 문자를 선택합니다.
sen[-1]

'.'

### 문자열의 슬라이싱

In [50]:
# sen의 0~2번 인덱스 문자를 결합합니다.
sen[0] + sen[1] + sen[2]

'아버지'

In [51]:
# sen의 0번 인덱스(첫 번째)부터 3-1번 인덱스(세 번째)까지 연속한 문자를 선택합니다.
sen[0:3]

'아버지'

In [52]:
# 콜론 앞에 정수를 생략하면 첫 번째 문자부터 선택합니다.
sen[:3]

'아버지'

In [53]:
# 콜론 뒤에 정수를 생략하면 마지막 문자까지 선택합니다.
sen[9:]

'들어가신다.'

In [54]:
# sen의 9번 인덱스(열 번째)부터 -2번 인덱스(끝에서 두 번째)까지 연속한 문자를 선택합니다.
sen[9:-1]

'들어가신다'

In [55]:
# 빈 콜론을 입력하면 처음부터 끝까지 연속한 문자를 선택합니다.
# [주의] 대괄호 안에 아무것도 입력하지 않으면 에러가 발생합니다.
sen[:]

'아버지가 안방에 들어가신다.'

### 문자열 공백 제거 및 변경

In [56]:
# 문자열 양쪽에 공백을 추가합니다.
sen = '\n 나의 살던 고향은 꽃피는 산골 \t'

In [57]:
# sen을 출력하면 문자열 양쪽에 공백이 보입니다.
sen

'\n 나의 살던 고향은 꽃피는 산골 \t'

In [58]:
# sen의 속성과 방식 목록을 출력합니다.
dir(sen)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [59]:
# sen에서 양쪽 공백을 제거하고 sen에 재할당합니다.
sen = sen.strip()

In [60]:
# sen을 출력하면 문자열 양쪽에 있던 공백이 없습니다.
sen

'나의 살던 고향은 꽃피는 산골'

In [61]:
# sen에서 '산골'을 '공원'으로 바꾼 결과를 반환합니다.
sen.replace('산골', '공원')

'나의 살던 고향은 꽃피는 공원'

In [62]:
# 위 코드를 실행하고 sen에 재할당하지 않았으므로 sen에 '산골'이 그대로 남아있습니다.
sen

'나의 살던 고향은 꽃피는 산골'

### 문자열 인덱스 확인

In [63]:
# sen에 있는 공백 개수를 반환합니다.
sen.count(' ')

4

In [64]:
# sen에서 공백이 처음 나오는 인덱스를 반환합니다.
# [참고] index() 함수에 탐색 범위(시작과 끝 인덱스)를 설정할 수 있습니다.
sen.index(' ')

2

In [65]:
# 탐색 범위(3번 인덱스부터 마지막)를 지정하고 공백을 탐색합니다.
sen.index(' ', 3, len(sen))

5

In [66]:
# 두 글자 이상인 문자열을 지정하면 첫 번째 글자의 인덱스를 반환합니다.
sen.index('산골')

14

# sen에 없는 문자열을 지정하면 에러가 발생합니다.
sen.index('공원')

In [67]:
# find() 함수는 index() 함수와 같은 기능을 수행하지만 에러 대신 -1을 반환합니다.
sen.find('공원')

-1

### 문자열 분리 및 결합

In [68]:
# sen을 구분자 '은'으로 분리합니다. [참고] 문자열을 분리하면 리스트로 반환합니다.
sen.split('은')

['나의 살던 고향', ' 꽃피는 산골']

In [69]:
# sen을 공백으로 분리하고 strs에 할당합니다.
strs = sen.split()

In [70]:
# strs를 출력합니다. 대괄호 안에 여러 문자열이 있습니다.
strs

['나의', '살던', '고향은', '꽃피는', '산골']

In [71]:
# strs의 클래스를 확인합니다. strs의 클래스는 list입니다.
type(strs)

list

In [72]:
# strs의 원소 사이에 공백을 추가하여 문자열로 결합합니다.
' '.join(strs)

'나의 살던 고향은 꽃피는 산골'

In [73]:
# 구분자에 따라 실행 결과가 달라집니다.
'-'.join(strs)

'나의-살던-고향은-꽃피는-산골'

### 자료형 변환

In [74]:
# a에 문자열 '1.2'를 할당합니다.
a = '1.2'
a

'1.2'

In [75]:
# a의 클래스는 str입니다.
type(a)

str

In [76]:
# a를 실수로 변환하고 b에 할당합니다.
b = float(a)
b

1.2

In [77]:
# b의 클래스는 float입니다.
type(b)

float

# 소수점 있는 문자열을 정수로 변환할 수 없습니다.
c = int(a)

In [78]:
# b를 정수로 변환하고 c에 할당합니다.
c = int(b)
c

1

In [79]:
# c의 클래스는 int입니다.
type(c)

int

### 문자열 포맷팅: 포맷 코드

In [80]:
# name과 rate에 적당한 값을 할당합니다.
name = '홍길동'
rate = 3.2

In [81]:
# 여러 문자열을 결합합니다.
name + ' 고객님의 이자율은 ' + str(rate) + ' %입니다.'

'홍길동 고객님의 이자율은 3.2 %입니다.'

In [82]:
# name과 rate에 할당한 값을 포맷 코드('%s'와 '%f')에 대입합니다.
'%s 고객님의 이자율은 %f %%입니다.' %(name, rate)

'홍길동 고객님의 이자율은 3.200000 %입니다.'

In [83]:
# 실수의 소수점 자리수를 설정할 수 있습니다.
'%s 고객님의 이자율은 %.2f %%입니다.' %(name, rate)

'홍길동 고객님의 이자율은 3.20 %입니다.'

### 문자열 포맷팅: format(), f-문자열

In [84]:
# 중괄호 안에 인덱스 또는 변수명을 지정합니다.
'{0} 고객님의 이자율은 {1} %입니다.'.format(name, rate)

'홍길동 고객님의 이자율은 3.2 %입니다.'

In [85]:
# 인덱스를 생략하면 변수값을 순서대로 대입합니다.
'{} 고객님의 이자율은 {} %입니다.'.format(name, rate)

'홍길동 고객님의 이자율은 3.2 %입니다.'

In [86]:
# 실수의 소수점 자리수를 지정하려면 % 대신 콜론을 추가합니다.
'{0} 고객님의 이자율은 {1:.2f} %입니다.'.format(name, rate)

'홍길동 고객님의 이자율은 3.20 %입니다.'

In [87]:
# Python 3.6에서 도입한 f-문자열을 사용하면 코드 가독성을 높일 수 있습니다.
f'{name} 고객님의 이자율은 {rate:.2f} %입니다.'

'홍길동 고객님의 이자율은 3.20 %입니다.'

### 부울

In [88]:
# a에 True를 할당합니다. [주의] 따옴표로 감싸면 문자열이 됩니다.
a = True

In [89]:
# a의 클래스를 확인합니다. a의 클래스는 bool입니다.
type(a)

bool

In [90]:
# True는 정수 1, False는 정수 0이므로 진리값을 더하면 True 개수를 반환합니다.
True + False

1

In [91]:
# 어떤 객체에 값 또는 원소가 있으면 True, 없으면 False를 반환합니다.
bool(1)

True

## End of Document